<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is social network html5 template available in themeforest......" />
        <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
        <meta name="robots" content="index, follow" />
        <title>Friend Finder | A Complete Social Network Template</title>

        <!-- Stylesheets
        ================================================= -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/ionicons.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!--Google Webfont-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
        <!--Favicon-->
        <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
        <style>
            .user
            {
                font-size: 14px;
                color: brown;
                font-weight: bold;
            }
        </style>
    </head>
    <body>

    <div th:replace="componant/header"></div>
        <!-- Top Banner
        ================================================= -->
        <section id="banner">
            <div class="container">
                <!-- Sign Up Form
                ================================================= -->
                <div class="sign-up-form">
                    <a href="index.html" class="logo"><img src="images/logo.png" alt="Friend Finder"/></a>
                    <h2 class="text-white">Find My Friends</h2>
                    <div class="line-divider"></div>
                    <div class="form-wrapper">
                        <p class="signup-text">Signup now and meet awesome people around the world</p>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password.
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>
                        <form th:action="@{~/signin}" method="POST">
                            <fieldset class="form-group">
                                <input type="text" required name="txtusername" class="form-control" id="example-email" placeholder="Enter email" autofocus>
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="password" required name="txtpassword" class="form-control"  id="example-password" placeholder="Enter a password">
                            </fieldset>
                            <p>By signning up you agree to the terms</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkRememberMe" name="checkRememberMe">
                                <label class="form-check-label" for="checkRememberMe">Remember me?</label>
                            </div>
                            <a class="user" th:href="@{~/signup}">Create New Account</a>
                            <button class="btn-secondary">Log In</button>

                        </form>



                    </div>
                    <img class="form-shadow" src="images/bottom-shadow.png" alt="" />
                </div><!-- Sign Up Form End -->

                <svg class="arrows hidden-xs hidden-sm">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                </svg>
            </div>
        </section>

    <div th:replace="componant/layout"></div>

    <div th:replace="componant/footer"></div>

    <div th:replace="componant/preloader"></div>

        <!-- Scripts
        ================================================= -->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.appear.min.js"></script>
        <script src="js/jquery.incremental-counter.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
